[data-reveal="left"]{
   clip-path: inset(0 100% 0 0);
 }
 
 [data-reveal="left"].revealed{
   animation: reveal-left 2s cubic-bezier(0.42, 0, 0.48, .9) forwards 300ms;
   
 }
 
 @keyframes reveal-left{
   0% {
     clip-path: inset(0 100% 0 0);
   }
   100% {
     clip-path: inset(0 0 0 0);
   }
 }
 
 [data-reveal="right"]{
   clip-path: inset(0 0 0 100%);
 }
 
 [data-reveal="right"].revealed{
   animation: reveal-right 1s cubic-bezier(0.58, -0.2, 1, 0.98) forwards 300ms;
 }
 
 @keyframes reveal-right{
   0% {
     clip-path: inset(0 0 0 100%);
   }
   100% {
     clip-path: inset(0 0 0 0);
   }
 }
 
 [data-reveal="top"]{
   clip-path: inset(0 0 100% 0);
   
 }
 
 [data-reveal="top"].revealed{
   animation: reveal-top 1s cubic-bezier(0.58, -0.2, 1, 0.98) forwards 300ms;
 }
 
 @keyframes reveal-top{
   0% {
     clip-path: inset(0 0 100% 0);
     transform: rotate(-3deg) translateY(-20px);
   }
   100% {
     clip-path: inset(0 0 0 0);
   }
 }

//  ----
[data-reveal="top2"].revealed{
   animation: reveal-top2 .7s cubic-bezier(0.58, -0.2, 1, 0.98) forwards 300ms;
 }
 
 @keyframes reveal-top2{
   0% {
     clip-path: inset(0 0 100% 0);
     transform: rotate(-3deg) translateY(-20px);
   }
   100% {
     clip-path: inset(0 0 0 0);
   }
 }
//  ----

[data-reveal="top3"].revealed{
   animation: reveal-top3 .9s cubic-bezier(0.58, -0.2, 1, 0.98) forwards 300ms;
 }
 
 @keyframes reveal-top3{
   0% {
     clip-path: inset(0 0 100% 0);
     transform: rotate(-3deg) translateY(-20px);
   }
   100% {
     clip-path: inset(0 0 0 0);
   }
 }