.about {
  display: flex;
  // height: 150vh;
  background-color: var(--light);
  // margin-top: 50px;
//   padding-bottom: 0px;
  color: var(--dark);
}

.about__inner {
  margin-top: 50px;
}
.about-top {
  font-size: 58px;
  font-family: var(--font-base);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-gallery {
  position: relative;
  // background-color: yellow;
  display: flex;
  height: 100vh;
  margin-bottom: 40px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
  width: 200px;
}

.about-img-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
  width: 200px;
  overflow: hidden;
}
.about-img-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.about-img-4 {
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
  overflow: hidden;
  width: 200px;
}
.about-img-5 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  overflow: hidden;
  width: 300px;
}
.about-bottom {
   // background-color: yellow;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-bottom: 20px;
}
.about-number{
   font-family: var(--font-base);
   font-size: 36px;
   line-height: 1;
   color: var(--red);
   margin-bottom: 5px;
}
.about-bottom p {
   font-size: 12px;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.1;
}
