.filter{
   position: relative;
   width: calc(25% - 12px);
   overflow: hidden;
   text-transform: uppercase;
   
   @include hover{

      &::before{
         transform: translateX(0);
      }
   }
}


.filter__label{
   position: absolute;
   right: 0;
   bottom: 14px;
   background-image: url(/icon/fill.svg);
   background-repeat: no-repeat;
   background-position: right;
   width: 55px;
   color: #949494;
   line-height: .92;
   font-size: 12px;

   
  
}
.filter::after{
   position: absolute;
   content: '';
   width: 100%;
   height: 1px;
   background-color: gray;
   // z-index: 100;
   bottom: 0;
   left: 0;
}
.filter::before{
   position: absolute;
   content: '';
   width: 100%;
   height: 1px;
   bottom: 0;
   left: 0;
  
   background-color: #c6c6c6;
   z-index: 10;
   transform: translateX(-100%);
   transition: transform 500ms cubic-bezier(.66,0,.34,1), -webkit-transform 500ms cubic-bezier(.66,0,.34,1);

   
}
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   cursor:pointer;
  
}
.filter__select{
   width: 100%;
    padding-top: 24px;
    padding-bottom: 14px;
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    line-height: .92;
    letter-spacing: -.02em;
    text-transform: uppercase;
    background: 0 0;
    border: 0;
    border-radius: 0;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
   
}