.footer_bottom{
   display: flex;
   ;
}

ul, li{
    list-style: none;
}

.footer__nav{
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
   grid-gap: 45px 10px;
   flex: 1;
   text-transform: uppercase;
}

.footer__nav-title{
   font-size: 14px;
   letter-spacing: -1px;
   font-weight: 300;
   margin-bottom: 20px;
}

.footer__nav-list{
   font-size: 14px;
   font-weight: 300;
   letter-spacing: -1px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.footer__nav-list a{
   display: inline-flex;
   height: 20px;
   opacity: 0.5;
   line-height: 1.5;

   @include hover{
      opacity: 1  ;
   }
}