.header {
}

.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--gray);
   font-size: 13px;
   text-transform: uppercase;
   padding-block: 20px;
   letter-spacing: 1px;
}

