.hero {
  position: relative;
  background-color: var(--dark);
}

.hero__inner {
  margin-top: 100px;
}
.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  font-size: 160px;
  font-family: var(--font-base);
  text-transform: uppercase;
  text-align: center;
  line-height: 0.78;
  width: min-content;
}
.hero-title:nth-child(2) {
  margin-bottom: 40px;
}
.hero-title:nth-child(2) {
  font-family: var(--font-other);
  font-size: 160px;
}
.hero__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__desc-txt {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  width: 200px;
  font-family: var(--font-second);
  font-weight: 300;
}
.images-page {
  overflow: hidden;
}
