.item {
  display: flex;
  gap: 80px;
  
  width: 100%;
  max-width: none;
  justify-content: space-between;
 

  @include hover {
    .item-link-focused span {
      transform: rotate(0deg) translate3d(0, 0, 0);
      clip-path: polygon(0% -10%, 100% -10%, 100% 110%, 0% 110%);
      transition-delay: 0.16s !important;
    }

    .item-link-unfocused span {
      transform: rotate(5deg) translate3d(0, 100%, 0);
      clip-path: polygon(0% 110%, 100% 110%, 100% 210%, 0% 210%);
      transition-delay: 0s !important;
    }

    .focused {
      transform: rotate(0deg) translate3d(0, 0, 0);
      clip-path: polygon(0% -10%, 100% -10%, 100% 110%, 0% 110%);
      transition-delay: 0.16s !important;
    }

    .unfocused {
      transform: rotate(5deg) translate3d(0, 110%, 0);
      clip-path: polygon(0% -10%, 100% -10%, 100% 110%, 0% 110%);
      // transition-delay: .2s !important;
    }
  }
}
.item-link {
  font-family: var(--font-other);
  line-height: 1;
  text-align: right;
  position: relative;
  overflow: hidden;
  line-height: 0.88;
}

.item-link-unfocused span {
  transform: rotate(0deg) translate3d(0, 0, 0);
  clip-path: polygon(0% -10%, 100% -10%, 100% 110%, 0% 110%);
  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
  transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.16s !important;
  position: relative;
  display: inline-block;
  transition-delay: 0s;
}

.item-link-focused {
  position: absolute;
  top: 0;
  left: 0;
  color: #f34848;
}
.item-link-focused span {
  transition: clip-path 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-5deg) translate3d(0, -100%, 0);
  clip-path: polygon(0% 110%, 100% 110%, 100% 210%, 0% 210%);
  transition-delay: 0s !important;
  position: relative;
  display: inline-block;
  transition-delay: 0.02s;
}

.hover-link {
  line-height: 1;
  position: relative;
  overflow: hidden;
  width: 20%;
}
.unfocused {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(0deg) translate3d(0, 0, 0);
  transition-delay: 0s !important;
  display: inline-block;
  transition-delay: transform 0.4s;
}
.focused {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(-5deg) translate3d(0, -110%, 0);
  transition-delay: 0s !important;
  position: absolute;
  top: 0;
  left: 0;
  color: #f34848;
  display: inline-block;
  transition-delay: transform 0.4s;
}
