.link {
   position: relative;
   font-size: 14px;
   color: var(--gray);
   letter-spacing: -1px;

   @include hover{
      &::after{
         transform: scaleX(1);
			transform-origin: bottom left;
      }
   }
}
.link::after{
   position: absolute;
   content: '';
   width: 100%;
   left: 0;
   bottom: 0;
   height: 1px;
   background-color: gray;
   transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}