.work {
  //   height: 100vh;
  display: flex;
  height: 100%;
  background-color: var(--light);
  color: var(--dark);
  padding-block: 100px;
}

.work-item {
  background-color: var(--dark);
  display: block;
  position: relative;
  font-size: 54px;
  cursor: pointer;
  transition: border-radius 0.25s;

  @include hover {
    .work-bg {
      border-radius: 90px;
    }
  }
}
.work-item:last-child{
  border-bottom: 1px solid var(--dark);
}

.work-bg {
  // background-color: gray;
  background-color: var(--light);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 0;
  transition: border-radius 0.25s;
  border-top: 1px solid var(--dark);
}

.work-item-inner {
  padding-block: 20px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.work-item-subtitle {
  display: block;
  grid-column: 3 / 4;
  color: #f34848;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  white-space: nowrap;
}
.work-item-linkk {
  grid-column: 10 / 11;
  white-space: nowrap;
  color: #f34848 !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  font-family: var(--font-second);
}
.work-title {
  grid-column: 6 / 8;
  font-size: 100px;
  font-family: var(--font-base);
  font-weight: 300;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-transform: uppercase;
}
