:root {
  --dark: #000;
  --dark-alt: #292929;
  --light: #efeded;
  --gray: gray;

  --border-1: 1px solid var(--light);
  --border-2: 1px solid var(--dark);
  --border-radius: 20px;

  // --font-base: "Roboto", sans-serif;
 

  --container-width: 1400px;
  --container-padding-x: 20px;

  --section-padding-y: 50px;

  --input-heigth: 60px;
  --button-heigth: 60px;

  --transition-duration: 0.3s;
}



