@use "../helpers" as *;

.about {
  margin-top: 35px;
  position: relative;
  padding-bottom: 100px;

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__wrapper {
    height: 100%;
    // height: 800px;
    min-height: 800px;
    //  height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }
  }

  &__title {
    grid-area: 2/4/4/8;
    line-height: 1;
    text-align: right;
    z-index: 3;

    @include mobile {
      text-align: left;
      padding-top: 50px;
    }
    span {
      color: var(--yellow);
    }

    @include mobile {
      grid-area: inherit;
    }
  }

  &__desc {
    grid-area: 4/5/5/13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    @include mobile {
      grid-area: inherit;
      width: 100%;
    }

    &-title {
      text-transform: initial;
      margin-bottom: 40px;
    }

    &-text {
      font-size: 13px;
      opacity: 0.6;
      max-width: calc(var(--index) * 13);

      @include mobile {
        max-width: 100%;
        font-size: 16px;
      }
    }

    &-top {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__button {
    width: 200px;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: url(/icons/Polygon-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1;
    font-size: 14px;
    position: relative;

    span {
      position: absolute;
      top: 52px;
    }
    img {
      margin-top: 24px;
    }
    @include tablet {
      width: 120px;
      height: 120px;
    }
  }

  &-img__left {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
    object-fit: cover;

    @include mobile {
      position: static;
      height: 380px;
    }
  }
  &-img__right {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 1;
    width: 250px;
    object-fit: cover;
  }
}
.about__circle{
  position: absolute;
   z-index: 10;
   right: 250px;

   
}
