@use '../helpers' as *;


.burger-button{
   width: 42px;
   height: 10px;
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   outline: none;
   border: none;
   background-color: transparent;


   &__line{
      width: 100%;
      height: 1px;
      background-color: var(--light);
   }
}