@use "../helpers" as *;

.button{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: rem(120);
   width: rem(120);
   background-image: url(/icons/Polygon-yellow.svg);
   background-repeat: no-repeat;
   background-size: contain;
   color: var(--dark);
   
}