@use "../helpers" as *;

.form {
  display: flex;

  &-item {
    // min-width: rem(320);
    width: calc(var(--index) * 14);
    background-color: rgba(48, 63, 56, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(53) rem(46);
    text-transform: uppercase;

    @include tablet {
      min-width: rem(250);
      padding: rem(40) rem(46);
    }
  }

  &-button {
    width: calc(var(--index) * 14);
    display: flex;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    padding: rem(53) rem(46);
    text-transform: uppercase;

    @include tablet {
      min-width: rem(250);
      padding: rem(40) rem(46);
    }
  }
}
