@use "../helpers" as *;

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 10px;
    padding-top: rem(40);

    @include mobile {
      padding-top: rem(30);
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    column-gap: rem(40);
  }

  &__menu-link {
    font-size: 14px;
    white-space: nowrap;
    @include hover {
      color: var(--yellow);
    }

    &--phone {
      font-size: 18px;
    }
  }

  &__logo {
    width: 97px;

    @include tablet {
      width: 78px;
    }
  }
}
