@use "../helpers" as *;

.hero {
  padding-top: rem(80);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 60px;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    &__left {
      &__left-title {
        line-height: 1;
        margin-bottom: 40px;
      }
      span {
        color: var(--yellow);
      }

      &-desc {
        font-size: rem(18);
        text-transform: uppercase;
        color: var(--yellow);
      }

      @include mobile {
        text-align: center;
      }
    }

    &__right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet {
        flex-direction: row;
        gap: 40px;
      }

      @include mobile {
        align-items: center;
        gap: 0;
        width: 100%;
        flex-direction: inherit;
        text-align: center;
        font-size: 14px;
      }

      &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      

      &-bottom {
        max-width: rem(350);

        @include tablet {
          font-size: 13px;
        }

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    &-form {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      height: rem(575);
      background-image: url(/images/hero-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;

      @include tablet {
        align-items: flex-end;
      }
    }

    &-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: rem(120);
      width: rem(120);
      background-image: url(/icons/Polygon-yellow.svg);
      color: var(--dark);
      margin-bottom: 20px;
      margin-right: 20px;
    }

    &-contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: rem(18);

      &--left {
        display: flex;
        flex-direction: column;
      }

      &--text {
        text-align: right;

        @include tablet {
          text-align: left;
        }
      }
    }
  }
}

.devider {
  width: 173px;
  height: 1px;
  background-color: var(--dark-alt);
}
.link {
  color: var(--yellow);
}
